
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Aria', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #0078d4; 
}

a:hover {
    text-decoration: underline;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #0078d4;

    
}

header img {
    max-width: 100px;
    border-radius: 50%;
}

h1 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: white;
}

nav {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    display: block;
    color: black;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}


.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card1{
	width: 300px;
  border: 15px solid rgb(13, 102, 175);
  padding: 50px;
  margin: 20px;
  text-align: center;
}

.information{
	width: 300px;
  border: 15px solid rgb(13, 102, 175);
  padding: 50px;
  margin: 20px;
  text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
	background-color: rgb(13, 102, 175);
	
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}


footer {
    background-color: #0078d4; 
    padding: 20px;
    text-align: center;
    color: white; 
}


@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}

.card1 a {
    color: black;
}


#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.active::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}


.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}


.active{
 background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}

@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}


