@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300;400;500;600;700;800;900&family=Mulish&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.header{
    width: 100%;
    height: 100vh;
    background-color: #26284e;
}

.header .nav-bar{
    width: 90%;
    height: 80px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.header .nav-bar .logo{
    margin-left: 50px;
}

.header .nav-bar .logo a{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

}

.header .nav-bar .menu ul li{
    margin-right: 30px;
}

.header .nav-bar .menu ul li a{
    font-size: 19px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
    opacity: 0.6;
}

.header .nav-bar .menu ul li a .active{
    opacity: 1;
}

.header .nav-bar .menu ul li a:hover{
    opacity: 1;
}

.header .nav-bar .social-media ul li i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.3s ease-in-out;
}

.header .nav-bar .social-media ul li i:hover{
    background-color: rgb(255 0 0/ 0.9);
}

.hero{
    width: 100%;
}

.hero .row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: auto;;
}

.hero .row .left-sec{
    width: 30%;
    margin-top: 100px;
    margin-left: 50px;
}

.hero .row .left-sec h2{
    font-size: 85px;
    color: #fff;
    text-transform: capitalize;
}

.hero .row .left-sec h2 span{
    color: #d43242;
}

.hero .row .left-sec p{
    margin: 20px 0;
    color: #fff;
    line-height: 28px;
    padding-right: 150px;
}

.hero .row .left-sec .discover-btn{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    padding: 0 25px;
    border: 3px soild #ffa938;
    background-color: #d43242;
    box-shadow: 5px 7px 20px #000;
}

.hero .row .left-sec .discover-btn a{
    color: #fff;
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 15px;
    text-transform: capitalize;
}

.hero .row .left-sec .discover-btn span{
    color: #fff;
    font-size: 45px;
}

.hero .information{
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.hero .information .production{
    margin-right: 50px;
    line-height: 3px;
}

.hero .information .production h2{
    font-size: 20px;
    letter-spacing: 1px;
}

.hero .information .production p{
    padding-right: 0;
    letter-spacing: 1px;
}

.hero .right-sec{
    width: 70%;
    padding-top: 100px;
}

.hero .right-sec img{
    width: 950px;
    height: 550px;
    margin: auto;
    float: right;
}

.slick-next, .slick-prev{
    top: 110% !important;
    z-index: 999;
}

.slick-prev{
    position: absolute;
    left: 950px !important; 
}

.slick-next{
    position: absolute;
    right: 178px !important;
}

.slick-next:before, .slick-prev:before {
    font-size: 45px !important;
}

.slick-dots {
    padding-left: 450px !important;
    margin-bottom: -50px !important;
}

.slick-dots li{
    margin-right: 15px !important;
}

.slick-dots li.slick-active:after{
    position: absolute;
    content: '.';
    bottom: -15 px;
    left: 6px;
    opacity: 1;
    color: red;
    font-size: 36px;
}

/*Footer for the site. Make sure to make chan ges for the bottom.*/

.footer{
    background-color: #008f99;
    padding: 70px 0;
    grid-column: 1 / 4;
}
  
.footer-col{
    width: 25%;
    padding: 0 15px;
}
  
.footer-col h4{
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
  
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #000;
    height: 2px;
    box-sizing: border-box;
    width:50px;
}
  
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
  
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    color: #000;
    display: block;
    transition: all 0.3s ease;
}
  
.footer-col ul li a:hover{
    color: #F8F2BE;
    padding-left: 8px;
}
  
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
  
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*rental page*/

.motor-rental {
    width: 100%;
    height: 100vh;
    background-color: #26284e;
}

.heading{
text-align: center;
margin-top: 5%;
}

.heading span{
    font-weight: 500;
    color: #fff;
}

.info{
    color: #fff;
    text-align: center;
}

.table-content{
    color: #fff;
    text-align: center;
    margin-left: 20%;
}

.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: #fff;
    padding: 8px;
    border-radius: 0.5rem;
}

.cars-container .box:hover h2 {
    background: #fff;
    color: var(--bg-color);
}

/* res page */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #26284e;
  }
  
.container-res {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 5%;
  }
  
.form-container {
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .info-container{
    color: #fff;
    padding: 2px;
}
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
}

/* Contact us page */

.contactUs{
    position:relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2{
    color: #fff;
    font-weight: 500;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}   

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h3{
    color: #26284e;
    font-weight: 500;
}

/*form */
.formBox{
    position: relative;
    width: 100%;
}

.formBoxm .row50{
    display: flex;
    gap: 20px;
}

inputBox{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span {
    color: #26284e;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333 ;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333 ;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    background: red;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placerholder
{
    color: #26284e;
}

/* info page */
.infom {
    color: #26284e;
}


.infoBox{
    padding: 95px;
}

.infom h3{
    color: #26284e;
}

.infom .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10 px;

}

.infom .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #26284e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #26284e;
}

.map{
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}