@media screen and (max-width: 1025px) {
    nav {
        display: grid;
        margin: 1rem auto;
    }
    
.navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
}
    
.navigation li {
        display: flex;
        flex: 1 1 100%;
}
    }