nav {
    display: grid;
	margin: 1rem auto;
}

body {
    background-color: #F8F2BE;
}

.navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navigation li{
    display: flex;
    flex: 1 1 100%;
}

.two-box {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

.weather {
   grid-column: 1 / 2 ;
   background-color: #008f99;
   border: 15px;
   padding: 50px;
   margin: 20px;
   
}

.event{
    grid-column: 2 / 3 ;
    background-color: #008f99;
    border: 15px;
    padding: 50px;
    margin: 20px;
}

.event li{
    list-style-type: none
}

header {
    text-align: center;
    background-color: #008f99;
    border: 15px;
    padding: 50px;
    margin: 20px;
}

h1,h2,h3,h4,h5,h6,nav{
    font-family: 'Libre Baskerville', serif;
}

p{
    font-family: 'Mulish', sans-serif;
}

.container img {
    width: 100%;
    height: 75%;
  }
  
  
  .container .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }

  .container{
    text-align: center;
  }

.community{
    text-align: center;
    background-color: #008f99;
    border: 15px;
    padding: 50px;
    margin: 20px;
}

  @media screen and (max-width: 767px) {
    /* Add your mobile-specific styles here */
  

    .navigation {
      display: none;
    }
  

    .hamburger-icon {
      display: block;
      cursor: pointer;
      font-size: 24px;
      text-align: right;
      padding: 1rem;
    }
    .hamburger-icon::before{
        content: "☰";
    }
  
    /* Style for the navigation links when the hamburger menu is active */
    .navigation.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  #mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
  }
  