@media screen and (max-width: 767px) {
    /* Add your mobile-specific styles here */
  

    .navigation {
      display: none;
    }
  

    .hamburger-icon {
      display: block;
      cursor: pointer;
      font-size: 24px;
      text-align: right;
      padding: 1rem;
    }
    .hamburger-icon::before{
        content: "☰";
    }
  
    /* Style for the navigation links when the hamburger menu is active */
    .navigation.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }