
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}


body:not(:footer) {
    font-family: 'Aria', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


a {
    text-decoration: none;
    color: #0078d4; 
}

a:hover {
    text-decoration: underline;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #0078d4;
    grid-column: 1 / 4;
}

header img {
    max-width: 100px;
    border-radius: 50%;
}

h1 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: white;
}

nav {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    grid-column: 1 / 4;
}

nav ul {
    list-style: none;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    display: block;
    color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 20px;
    grid-column: 1 / 4;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
}


.card {
    background-color: rgb(136, 178, 233);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card1 {
    border: 15px solid rgb(13, 102, 175);
    padding: 0;
    margin: 0;
    grid-column: 1 ;
}

.information {
    border: 15px solid rgb(13, 102, 175);
    padding: 0;
    margin: 0;
    text-align: center;
    grid-column: 3 / 4;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
	background-color: rgb(13, 102, 175);
	color: white;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}


.footer-container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #0078d4;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #000;
    height: 2px;
    box-sizing: border-box;
    width:50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    color: #000;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #F8F2BE;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.card1 a {
    color: black;
}

.card1{
    text-align: center;
}


#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
    position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.active::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}


.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}


.active{
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

.map {
    grid-column: 1 / 4
}